body {
    background: none repeat scroll 0 0 #EFEFEF;
    color: #555555;  
}

#wrapper {
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    /*
    border: 1px solid #E5E5E5;
    margin-bottom: 30px;
    padding: 0 20px 20px;
    */
}

#content {
    /*
    margin-bottom: 20px;
    margin-top: 40px;
    */
}

#sidebar {
    /*
    margin-top: 40px;
    */
}