{% include header.html %}
<div class="container">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <div class="content">
                            {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
                            <ul class="inline">
                                {% if page.author %}<li><span class="vcard"><i class="icon-user"></i> <span class="fn">{{ page.author }}</span></span></li>{% endif %}
                                {% if page.date %}<li><abbr class="published" title="{{ page.date | date: "%a, %d %b %Y %H:%M:%S %z" }}"><i class="icon-calendar"></i> {{ page.date | date: "%b %d, %Y" }}</abbr></li>{% endif %}
                            </ul>
                            {{ content }}

                            {% include comments.html %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="sidebar">
                            {% include sidebar.html %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
