{% include header.html %}
<div class="row">
    <div class="span12 wrapper">
        <div class="row">
            <div class="span9">
                <div class="content">
                    {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
                    {{ content }}
                </div>
            </div>
            <div class="span3">
                <div class="sidebar">
                    <p>Sidebar</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}